* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.list {
	width: 635px;
	margin: 0 auto;
}
.list__item {
	display: inline-block;
	margin-right: 70px;
}
.no-margin {
	margin-right: 0;
}
.container {
    text-align: center;
    background-color:  #00BDC9;
    padding: 32px;
    margin-top: 18px;
}
.title {
    text-align: center;
    font-family: sans-serif;
    padding: 40px
}
.text {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 272px;
    margin-right: 272px;
}
.text_list {
    font-family: sans-serif;
    margin-left: 517px;
    margin-right: 517px;
    padding: 24px;
    
}
ul {
    list-style: none;
}
.button {
    margin: 0 auto;
    display: block;
    color: white;
    background-color: #00BDC9;
    padding: 13px;
    border: none;
}
 .footer {
    text-align: center;
	font-size: 19px;
	padding: 38px;
    border: black;
    
    
 }  

